.cardContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0%;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    flex-direction: column;
}

.topCard {
    width: 94%;
    margin: 3%;
}

.avatarCard {
    display: flex;
    margin: 0%;
    width: 12%;
}

.avatarCard img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    overflow: hidden;
}

.titleCard {
    position: absolute;
    left: 17%;
    top: 10%;
    text-align: left;
}

.profession {
    color: #F47D35;
}

.commentCard {
    color: #B6B6B6;
    text-align: left;
    margin-top: 5px;
    margin-left: 32px;
    margin-bottom: 29px;
    width: 85%;
}

.buttomCard {
    display: flex;
    height: 13vh;
    background: #FAFAFC;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px #cec9c4 solid ;
}

.btnContactCard {
    margin-left: 15em;
}